@use 'sass:list';

$stripes: (
  (hsl(213, 57%, 34%) hsl(211, 58%, 34%)),
  (hsl(209, 60%, 33%) hsl(204, 61%, 33%)),
  (hsl(201, 63%, 32%) hsl(194, 68%, 31%)),
  (hsl(191, 71%, 31%) hsl(180, 79%, 29%))
);

:root {
  @for $i from 1 through list.length($stripes) {
    @for $j from 1 through list.length(list.nth($stripes, $i)) {
      --stripe-#{$i}-#{$j}: #{list.nth(list.nth($stripes, $i), $j)};
    }
  }

  --weight-bold: 500;
  --weight-normal: 300;
  --white: hsl(180, 79%, 100%);
  --black: hsl(180, 79%, 5%);
}
