@use 'sass:list';

$stripes: ((#2a6b96 #0056b4), (#6b8b68 #759062), (#7a925e #8b9b52), (#96a04a #d7c11d));

:root {
  @for $i from 1 through list.length($stripes) {
    @for $j from 1 through list.length(list.nth($stripes, $i)) {
      --stripe-#{$i}-#{$j}: #{list.nth(list.nth($stripes, $i), $j)};
    }
  }

  --weight-bold: 700;
  --weight-normal: 300;
  --white: hsl(180, 79%, 100%);
  --black: hsl(180, 79%, 5%);
  --blue: #2355ad;
  --gold: #f3b43f;
}
