---
layout: wrapper.njk
---

<article class="_markdown">
  <header class="_markdown--header">
    <h1 class="type--h1">{{title}}</h1>
  </header>

  <div class="type _markdown--body">{{ content | safe }}</div>
</article>
