---
layout: wrapper.njk
---

<article class="_markdown">
  <header class="_markdown--header">
    <div class="container">
      <h1 class="type--h1">{{title}}</h1>
    </div>
  </header>
  <div class="type _markdown--body">
    <div class="container">{{ content | safe }}</div>
  </div>
</article>
