<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% set t = 'PWA Summit, October 5-6' %} {% if title %} {% set t = title + ' | ' + t %} {% endif
    %}
    <title>{{t}}</title>
    <link rel="icon" type="image/svg+xml" href="/assets/logo.svg" />
    <script src="/js/index.js" type="module"></script>
    <link rel="stylesheet" href="/sass/style.scss" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;500&family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content="{{t}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pwasummit.org{{page.url}}" />
    {% if ogimage %}
    <meta property="og:image" content="{{ogimage}}" />
    <meta name="twitter:image" content="{{ogimage}}" />
    {% else %}
    <meta property="og:image" content="https://pwasummit.org/images/social.jpg" />
    <meta name="twitter:image" content="https://pwasummit.org/images/social.jpg" />
    {% endif %} {% set d = 'PWA Summit is a free, online, single-track conference focused on helping
    everyone succeed with Progressive Web Apps.' %} {% if metadescription %} {% set d =
    metadescription + ' This session is part of PWA Summit. ' + d %} {% endif %}
    <meta name="description" content="{{d}}" />
    <meta property="og:description" content="{{d}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@pwasummit" />
    <meta name="twitter:creator" content="@pwasummit" />
    <meta name="twitter:title" content="{{t}}" />
    <meta name="twitter:description" content="{{d}}" />
  </head>
  <body>
    <header class="banner">
      <div class="container">
        <a class="banner--title" href="/" id="logo" aria-label="PWA Summit">
          {{ "/src/public/images/logo.svg" | svgContents | safe }}
        </a>
        <nav class="nav">
          {% set navPages = collections.all | eleventyNavigation('Main') %}
          <ul>
            {%- for entry in navPages %}
            <li>
              {%- set current %} {% if entry.url == page.url %} aria-current="page"{% endif %} {%-
              endset %}
              <a href="{{ entry.url }}" {{ current }}><b>{{ entry.title }}</b></a>
            </li>
            {%- endfor %}
            <li class="nav-item__twitter">
              <a href="https://twitter.com/PwaSummit" target="_blank">
                {{ "/src/public/images/twitter-circle.svg" | svgContents | safe }} @PWASummit</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>{{ content | safe }}</main>

    <footer class="banner--FOOTER">
      <div class="container">
        <nav class="nav">
          {% set navPages = collections.all | eleventyNavigation('Main') %}
          <ul>
            {%- for entry in navPages %}
            <li>
              {%- set current %} {% if entry.url == page.url %} aria-current="page"{% endif %} {%-
              endset %}
              <a href="{{ entry.url }}" {{ current }}><b>{{ entry.title }}</b></a>
            </li>
            {%- endfor %}
            <li>
              {%- set current %} {% if entry.url == "/code-of-conduct/" %} aria-current="page"{%
              endif %} {%- endset %}
              <a href="/code-of-conduct/" {{ current }}><b>Code of Conduct</b></a>
            </li>
          </ul>
          <ul>
            <li class="nav-item__twitter">
              <a href="https://twitter.com/PwaSummit" target="_blank">
                {{ "/src/public/images/twitter-circle.svg" | svgContents | safe }} @PWASummit
              </a>
            </li>
            <li class="nav-item__previously">
              Previous Summits:
              <a href="https://2021.pwasummit.org/" title="PWA Summit 2021">2021</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    <footer class="banner--sponsors">
      <div class="container">
        <p class="footer--links">
          <span>Organized by</span>
          <a target="_blank" href="https://www.google.com/chrome/" class="sponsor--google">
            {{ "/src/public/images/google.svg" | svgContents | safe }}
          </a>
          <a
            target="_blank"
            href="https://www.intel.com/content/www/us/en/homepage.html"
            class="sponsor--intel"
          >
            {{ "/src/public/images/intel.svg" | svgContents | safe }}
          </a>
          <a target="_blank" href="https://www.microsoft.com/en-us/edge" class="sponsor--microsoft">
            {{ "/src/public/images/microsoft.svg" | svgContents | safe }}
          </a>
          <a target="_blank" href="https://developer.samsung.com/internet" class="sponsor--samsung">
            {{ "/src/public/images/samsung.svg" | svgContents | safe }}
          </a>
        </p>
        <p class="footer--links footer--sponsors">
          <span>Hosting sponsored by</span>
          <a target="_blank" href="https://www.netlify.com/" class="sponsor--netlify">
            {{ "/src/public/images/netlify.svg" | svgContents | safe }}
          </a>
        </p>
      </div>
    </footer>
    {% include "icons.njk" %}
  </body>
</html>
