.banner {
  background: var(--white) url('/images/hoverla.svg') center 110px no-repeat;
  border-bottom: 10px solid var(--gold);
  display: flex;
  height: 332px;
  position: relative;

  .container {
    position: relative;
    width: 100%;
  }

  &--title {
    display: block;
    width: 252px;

    @media (max-width: 1000px) {
      margin: 1rem auto;
    }

    @media (min-width: 1000px) {
      left: 0;
      position: absolute;
      top: 85px;
    }

    svg {
      display: block;
      filter: drop-shadow(0 0 40px #fff);
      height: auto;
      width: 100%;
    }
  }

  &--pwa,
  &--summit,
  &--dates {
    width: 100%;
  }

  &--pwa {
    grid-row: 1 / span 2;
  }

  &--dates {
    grid-column: 2;
    grid-row: 2;
  }

  &--FOOTER {
    background-color: var(--white);
    background-position: right top;
    background-repeat: no-repeat;
    color: var(--black);
    padding-bottom: bm(pxRem(15.2568px));
    position: relative;
  }
}
