.banner {
  background: var(--white) url('/images/hoverla.svg') center 130px no-repeat;
  background-size: 1162px 250px;
  border-bottom: 13px solid var(--gold);
  display: flex;
  height: 332px;
  position: relative;

  .container {
    position: relative;
    width: 100%;
  }

  &--title {
    display: block;
    width: 252px;

    @media (max-width: 1000px) {
      margin: 1rem auto;
    }

    @media (min-width: 1000px) {
      left: 1rem;
      position: absolute;
      top: 85px;
    }

    svg {
      display: block;
      filter: drop-shadow(0 0 40px #fff);
      height: auto;
      width: 100%;
    }
  }

  .nav {
    background-color: var(--white);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;

    a::before {
      background-color: var(--gold);
      bottom: 1px;
      content: ' ';
      display: block;
      height: 3px;
      position: absolute;
      transition: width 0.25s ease-out;
      width: 0;
      z-index: 0;
    }

    a:link,
    a:visited {
      color: var(--blue);
      font-weight: var(--weight-bold);
      position: relative;

      b {
        position: relative;
        z-index: 1;
      }
    }

    a:hover::before,
    a:focus::before {
      width: 100%;
    }

    ul {
      border-top: 13px solid var(--gold);
      gap: 0.25rem 2rem;
      justify-content: center;
      padding: 0.5rem 0;
    }

    .nav-item__twitter svg {
      display: none;
    }

    @media (min-width: 1000px) {
      background-color: transparent;
      bottom: auto;
      left: auto;
      right: 1rem;
      top: 77px;

      ul {
        border-top-width: 0;
        gap: 3rem;
        justify-content: flex-end;
        padding: 0;
      }

      .nav-item__twitter {
        position: absolute;
        top: 100px;

        svg {
          display: inline-block;
        }

        a {
          display: flex;
          font-size: 22px;
          font-weight: var(--weight-normal);
          gap: 0.5rem;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  &--pwa,
  &--summit,
  &--dates {
    width: 100%;
  }

  &--pwa {
    grid-row: 1 / span 2;
  }

  &--dates {
    grid-column: 2;
    grid-row: 2;
  }

  &--FOOTER {
    background-color: var(--blue);
    border-bottom: 13px solid var(--gold);
    color: var(--white);
    margin-top: 5rem;
    padding: 2rem 0;
    position: relative;

    .container {
      padding-right: 1rem;
    }

    a:link,
    a:visited {
      color: inherit;
      font-weight: var(--weight-bold);
    }

    .nav ul {
      display: flex;
      gap: 3rem;
      justify-content: center;

      + ul {
        margin-top: 1rem;
      }

      @media (min-width: 1000px) {
        gap: 5rem;
      }
    }

    .nav-item__previously {
      font-size: pxRem(22px);
    }

    .nav-item__twitter a {
      font-weight: var(--weight-normal);
    }

    .twitter-icon {
      height: 33px;
      width: 33px;

      &__circle {
        fill: var(--white);
      }

      &__bird {
        fill: var(--blue);
      }
    }
  }

  &--sponsors {
    padding: 5rem 0;

    @media (min-width: 1000px) {
      background: var(--white) url('/images/hoverla.svg') -230px 230px no-repeat;
      height: 457px;
    }

    .container {
      padding-right: 1rem;
    }
  }
}

.nav-item__twitter {
  font-weight: normal;

  a {
    display: flex;
    font-size: 22px;
    gap: 0.5rem;
  }
}

.twitter-icon {
  display: inline-block;
  height: 37px;
  width: 37px;

  &__circle {
    fill: var(--gold);
  }

  &__bird {
    fill: var(--white);
  }
}

.footer--links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 3rem;
  justify-content: center;

  @media (min-width: 1000px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  span {
    white-space: nowrap;

    @media (max-width: 1000px) {
      text-align: center;
      width: 100%;
    }
  }

  svg {
    display: inline-block;
  }
}

.footer--sponsors {
  margin-top: 5rem;

  @media (min-width: 1000px) {
    justify-content: flex-end;
  }
}

.sponsor--google {
  height: 62px;
  width: 193px;
}

.sponsor--microsoft {
  height: 60px;
  width: 284px;
}

.sponsor--samsung {
  height: 72px;
  width: 214px;
}

.sponsor--intel {
  height: 55px;
  width: 143px;
}

.sponsor--netlify {
  height: 66px;
  width: 206px;
}
