html {
  min-width: 300px;
}

body {
  --banner-m: 1.5;
  //background: var(--stripe-4-2);
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 125%;
  font-weight: var(--weight-normal);
  margin: 0;
  min-height: 100vh;
  min-width: 375px;

  @media (min-width: 513px) {
    --banner-m: 2;
  }
  @media (min-width: 628px) {
    --banner-m: 2.5;
  }
  @media (min-width: 757px) {
    --banner-m: 3;
  }

  @media (min-width: 1200px) {
    font-size: 1.56vw;
  }
}

main {
  color: var(--black);
  display: grid;
  flex: 1;
  grid-template-columns: repeat(7, 1fr);

  a:link,
  a:visited {
    color: inherit;
  }
}

.container {
  grid-column: 1 / span 7;
  padding: 0 1rem;

  @media (min-width: 1000px) {
    grid-column: 2 / span 3;
    padding: 0;

    &--schedule {
      grid-column: 2 / span 5;
    }
  }
}

b {
  font-weight: inherit;
}
