html {
  min-width: 300px;
}

body {
  --banner-m: 1.5;
  //background: var(--stripe-4-2);
  color: var(--black);
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 125%;
  font-weight: var(--weight-normal);
  margin: 0;
  min-height: 100vh;

  @media (min-width: 513px) {
    --banner-m: 2;
  }
  @media (min-width: 628px) {
    --banner-m: 2.5;
  }
  @media (min-width: 757px) {
    --banner-m: 3;
  }
}

main {
  color: var(--black);
  display: grid;
  flex: 1;
  grid-template-columns: repeat(7, 1fr);

  a:link,
  a:visited {
    color: inherit;
  }
}

.container {
  grid-column: 2 / span 5;
  margin: 0 auto;
  max-width: 1237px;
  padding: 0 1rem;

  &--schedule {
    grid-column: 2 / span 5;
    padding-right: 1rem;
  }
}

b {
  font-weight: inherit;
}
