body {
  --banner-m: 1.5;
  background: var(--stripe-4-2);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  font-size: 125%;
  font-weight: var(--weight-normal);
  margin: 0;
  min-height: 100vh;
  @media (min-width: 513px) {
    --banner-m: 2;
  }
  @media (min-width: 628px) {
    --banner-m: 2.5;
  }
  @media (min-width: 757px) {
    --banner-m: 3;
  }
}

main {
  color: var(--white);
  flex: 1;
}

.container {
  margin: 0 auto;
  max-width: 1237px;
  padding: 0 1rem;
  @media (min-width: 1000px) {
    padding: 0 285px 0 0;
  }
}
