.footer {
  border-top: 1px solid currentColor;
  display: flex;
  font-size: 0.9rem;
  gap: 2rem;
  justify-content: flex-end;
  margin-top: 1rem;
  padding-top: 1rem;

  &--SPONSORS {
    border-top: 0;
    padding-top: 0;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }

  &--links {
    text-align: right;

    a {
      display: inline-block;
      font-weight: var(--weight-bold);
    }
  }

  &--sponsors {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: 0.25em;
    justify-content: flex-end;
    text-align: right;
    width: 100%;
  }

  &--logo {
    height: 1.25em;
  }
}

.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.previous--events {
  display: flex;
  flex-wrap: nowrap;
  width: auto;

  dt {
    font-weight: var(--weight-bold);
    margin-right: 0.25em;

    &::after {
      content: ': ';
    }
  }

  dd {
    margin-right: 0.25em;
  }
}
