.livestream {
  $width: bm(pxRem(2.6739px));
  margin-bottom: 3vh;
  margin-top: -5vh;
  position: relative;

  @supports not (aspect-ratio: 16 / 9) {
    height: 0;
    padding-top: 1 / (16 / 9) * 100%;
    width: 100%;

    iframe {
      display: block;
      height: 100% !important;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100% !important;
    }
  }

  @supports (aspect-ratio: 16 / 9) {
    iframe {
      aspect-ratio: 16 / 9;
      height: auto;
      width: 100%;
    }
  }

  &::after {
    background-color: #fff;
    bottom: -3vh;
    content: '';
    display: block;
    height: 4vh;
    left: 15%;
    position: absolute;
    width: $width;
    z-index: -1;
  }

  iframe {
    border: $width solid #fff;
  }
}
