.schedule {
  background-color: var(--white);
  border: 0;
  border-collapse: collapse;
  border-radius: 0 0 5px 5px;
  color: var(--black);
  // margin-top: -5vh;
  max-width: calc(100vw - 2rem);
  overflow-x: hidden;
  width: 100%;
  // table-layout: fixed;

  tr {
    border: 0;
  }

  [data-even='false'] {
    background-color: #eef2f5;
  }

  [data-even='true'] {
    background-color: #f6f9fc;
  }

  [aria-current] {
    background-color: var(--gold);
  }

  th,
  td {
    border: 0;
    padding: 0.5rem 1rem;

    &:first-of-type {
      width: 7rem;
    }

    &:nth-of-type(3) {
      @media (max-width: 467px) {
        display: none;
      }
    }
  }

  [data-format] {
    align-items: center;
    display: flex;
    min-height: 50px;
  }

  &--caption {
    background-color: var(--white);
    border-radius: 5px 5px 0 0;
    color: var(--black);

    &-wrapper {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding: 1rem;
      // justify-content: center;

      @media (min-width: 605px) {
        flex-wrap: nowrap;
      }
    }
  }

  &--link {
    color: var(--black);
  }

  thead {
    display: block;
    height: 0;
    overflow: hidden;
  }

  &--time {
    font-size: 1rem;
  }

  &--day {
    background-color: var(--white);
    color: var(--blue);
    font-weight: var(--weight-normal);
  }

  &--title {
    margin-top: 0;
    @media (max-width: 467px) {
      font-size: 3rem;
    }
  }

  &--timezone {
    justify-self: flex-end;
    margin-left: auto;
  }

  &--speakers {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: pxRem(16px);
    font-style: italic;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0 1rem 0 0;
    width: calc(150px + 1rem);
  }

  &--speaker {
    flex-shrink: 0;
  }

  &--picture {
    border: 5px solid var(--stripe-1-1);
    border-radius: 50%;
    flex-shrink: 0;
    height: 50px;
    width: 50px;
  }
}
