.schedule {
  border: 0;
  border-collapse: collapse;
  color: var(--white);

  th {
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    font-size: smaller;
    font-weight: var(--weight-normal);
    padding: 0 0 0.5rem;
    text-align: center;

    @media (max-width: 400px) {
      display: none;
    }
  }

  [data-even='true'] {
    background-color: rgba(0, 0, 0, 0.15);
  }

  [data-even='false'] {
    background-color: rgba(0, 0, 0, 0.1);
  }

  td {
    border: 0;
    padding: 0.5rem 1rem;
  }

  [data-format] {
    align-items: center;
    display: flex;
    min-height: 50px;
  }

  &--caption {
    color: var(--white);
    margin-bottom: 1rem;

    &-wrapper {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;

      @media (min-width: 605px) {
        flex-wrap: nowrap;
      }
    }
  }

  &--link {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: var(--white);
    font-size: 1.5rem;
    text-decoration: none;
  }

  &--link:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }

  &--time {
    font-size: 1rem;
    white-space: nowrap;
  }

  &--time-desktop {
    @media (max-width: 400px) {
      display: none;
    }
  }

  &--time-mobile {
    @media (min-width: 401px) {
      display: none;
    }

    [data-format] {
      min-height: auto;
    }
  }

  &--day {
    background-color: var(--stripe-3-1);
    font-weight: var(--weight-bold);
    padding: 0.5rem 1rem;
  }

  &--title {
    margin-top: 0;
  }

  &--timezone {
    justify-self: flex-end;

    @media (max-width: 400px) {
      justify-self: flex-start;
    }
  }

  &--speakers {
    // flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: calc(150px + 1rem);

    @media (max-width: 400px) {
      width: calc(50px + 1rem);
    }
  }

  &--speaker {
    flex-shrink: 0;
  }

  &--picture {
    border: 5px solid var(--stripe-1-1);
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
