.sessions {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  list-style: none;
  margin: 0;
  margin-top: 2rem;
  padding: 0;

  &--session {
    display: grid;
    gap: 2rem;
    @media (min-width: 615px) {
      grid-template-columns: 1fr 150px;
    }
  }

  &--title {
    margin-top: 0;
  }

  &--info {
    grid-column: 1 / span 1;
  }

  &--speakers {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 615px) {
      flex-direction: column;
      grid-column: 2 / span 1;
      justify-content: unset;
    }
  }

  &--speaker {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &--picture {
    border: 5px solid var(--stripe-1-1);
    border-radius: 50%;
    max-width: 150px;
  }

  &--name {
    text-align: center;
  }
}
