.sessions {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  grid-column: 2 / span 5;
  list-style: none;
  margin: 0;
  margin-top: 2rem;
  padding: 0;

  &--header {
    align-items: end;
    display: grid;
    grid-column: 2 / span 5;
    grid-template-columns: 1fr auto;

    select {
      grid-column: 2 / span 5;
      grid-row: 2;
    }

    @media (min-width: 1000px) {
      &._markdown--header h1 {
        grid-column: 2 / span 2;
      }

      select {
        grid-column: 5 / span 2;
        grid-row: 1;
      }
    }
  }

  h2 {
    color: var(--blue);
    grid-column: 2 / span 5;
  }

  .sessions {
    margin: 0;
    padding: 0;
  }

  &--start {
    margin: 0;
    padding-bottom: 1.5rem;
  }

  &--session {
    align-items: start;
    display: grid;
  }

  &--title {
    margin-top: 0;
  }

  &--info {
    grid-column: 1 / span 2;
  }

  & &--speakers {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 730px) {
      flex-direction: column;
      grid-column: 1 / span 2;
      justify-content: unset;
      margin-top: 1rem;
    }
  }

  &--speaker {
    align-items: center;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr, auto;
  }

  &--picture {
    border: 5px solid var(--stripe-1-1);
    border-radius: 50%;
    max-width: 150px;
  }

  &--name {
    margin-top: 0;
    text-align: center;
  }

  &--desc {
    margin: 0;

    @media (max-width: 730px) {
      flex-direction: column;
      //grid-column: 2 / span 1;
    }
  }
}
