.type {
  line-height: 1.618;
  text-indent: 0;
  //max-width: 60ch;

  // Owl spacing
  * + * {
    margin-top: 1.618rem;
  }

  section + section {
    margin-top: 5rem;
  }

  // But no owl spacing for first item
  :first-child > :first-child {
    margin-top: 0;
  }

  h1,
  &--h1,
  h2,
  &--h2,
  h3,
  &--h3,
  h4,
  &--h4,
  h5,
  &--h5,
  h6,
  &--h6 {
    font-weight: var(--weight-normal);
    line-height: 1.2;
    margin-top: 1em;

    a {
      display: block;
      position: relative;
      text-decoration: none;

      &:focus {
        outline: 0;
        text-decoration: underline;
      }

      @media (min-width: 1000px) {
        &:hover::before,
        &:focus::before {
          content: '#';
          left: -1em;
          position: absolute;
          top: 0;
          width: 1em;
        }
      }
    }
  }

  h1,
  &--h1 {
    font-size: pxRem(54px);
    font-weight: var(--weight-bold);
  }

  h2,
  &--h2 {
    font-size: pxRem(30px);
  }

  h3,
  &--h3 {
    font-size: pxRem(24px);
  }

  h4,
  &--h4 {
    font-size: pxRem(20px);
  }

  h5,
  &--h5,
  h6,
  &--h6 {
    font-size: pxRem(18px);
    font-weight: var(--weight-bold);
  }

  ul,
  ol {
    margin-left: 1.5rem;
    padding-left: 0;
  }

  li + li {
    margin-top: 0;
  }
}

strong {
  font-weight: var(--weight-bold);
}

blockquote {
  background-color: rgba(0, 0, 0, 0.1);
  border: 4px solid rgba(255, 255, 255, 0.2);
  padding: 1em 2em;
}

code {
  font-size: 1.25em;
}
