._home {
  $width: bm(pxRem(2.6739px));
  $rotate: -0deg;
  display: grid;
  grid-gap: 0;
  grid-template-columns: #{$width} 0.5fr #{$width} 0.5fr #{$width} 1fr #{$width};
  grid-template-rows: 0.6fr 0.4fr #{$width} repeat(3, 1fr #{$width}) 0.4fr 0.4fr 0.6fr;
  height: 80vh;
  margin: 5vh auto;
  max-width: 700px;
  width: 100%;

  @media (min-width: 618px) {
    width: 80vw;
  }

  @media (min-width: 843px) {
    width: 60vw;
  }

  &--icon {
    fill: var(--white);
  }

  &--save,
  &--cfp {
    align-items: center;
    color: var(--white);
    display: flex;
    font-weight: var(--weight-bold);
    gap: 1rem;
    grid-column: 4 / span 3;
    justify-content: flex-end;
    padding: 0 1rem;
    text-decoration: none;

    @media (min-width: 528px) {
      grid-column: 6 / span 1;
    }
  }

  &--save {
    align-self: flex-end;
    grid-row: 10 / span 1;
  }

  &--cfp {
    align-self: flex-start;
    grid-row: 11 / span 1;
    margin-top: 1rem;
    text-align: right;
  }

  &--rect {
    background-color: var(--white);
    height: 100%;
    width: 100%;

    &__1,
    &__2,
    &__3,
    &__4 {
      grid-column: 1 / -1;
      transform: rotate($rotate);
    }

    &__4 {
      grid-row: 9 / span 1;
    }

    &__5 {
      grid-column: 1 / span 1;
      grid-row: 1 / span 2;
    }

    &__6 {
      grid-column: 3 / span 1;
      grid-row: 2 / span 1;
      transform: translateY(#{$width});
    }

    &__7 {
      grid-column: 3 / span 1;
      grid-row: 9 / -1;

      @media (min-width: 528px) {
        grid-column: 5 / span 1;
      }
    }

    &__8 {
      grid-column: 7 / span 1;
      grid-row: 10 / span 2;
    }
  }

  &--icon {
    width: 2rem;
  }

  &--justifier {
    display: inline-block;
    height: 1px;
    width: 100%;
  }

  &--title {
    align-self: center;
    display: flex;
    font-family: 'Hepta Slab', serif;
    font-size: 2.5rem;
    font-weight: var(--weight-bold);
    grid-column: 2 / -2;
    grid-row-start: 4;
    justify-content: space-between;
    justify-self: center;
    text-align: justify;
    text-transform: uppercase;
    transform: rotate($rotate);
    width: 100%;

    @media (min-width: 420px) {
      font-size: 3.25rem;
    }

    @media (min-width: 700px) {
      font-size: 4rem;
    }
  }

  &--dates {
    align-self: center;
    display: flex;
    font-family: 'Hepta Slab', serif;
    font-size: 2rem;
    font-variant: small-caps;
    grid-column: 2 / -2;
    grid-row-start: 6;
    justify-content: space-between;
    justify-self: center;
    transform: rotate($rotate);
    width: 100%;
    @media (min-width: 700px) {
      font-size: 3rem;
    }
  }

  &--where {
    align-self: center;
    font-size: 1.5rem;
    grid-column: 2 / -2;
    grid-row-start: 8;
    letter-spacing: -1px;
    text-align: justify;
    transform: rotate($rotate);
    width: 100%;
  }
}
