._home {
  $width: bm(pxRem(2.6739px));
  $rotate: -0deg;
  margin: 3vh auto;

  @media (min-width: 700px) {
    margin: 5vh auto;
  }

  &--cta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2vh auto;
  }

  &--link {
    background-image: linear-gradient(to bottom, #225787 0%, #1b6785 20%, #17a5a5 100%);
    background-size: auto 100%;
    border: 3px solid var(--stripe-4-1);
    border-radius: 2rem;
    color: var(--white);
    display: flex;
    font-weight: var(--weight-bold);
    gap: 0.5rem;
    justify-content: center;
    min-width: 20rem;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: 0.5s;
  }

  &--link:hover {
    background-size: auto 200%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  }

  &--icon {
    fill: var(--white);
    width: 2rem;
  }

  &--justifier {
    display: inline-block;
    height: 1px;
    width: 100%;
  }

  &--intro {
    font-size: 1.5rem;
    letter-spacing: -1px;
    transform: rotate($rotate);
    width: 100%;

    @media (min-width: 700px) {
      font-size: 2rem;
    }
  }
}
