._home {
  background-color: var(--blue);
  color: var(--white);
  display: grid;
  grid-template-columns: repeat (7, 1fr);

  &--promo-block {
    grid-column: 1 / span 7;
    grid-template-columns: inherit;
    padding: 2rem 0;
  }

  &--text {
    grid-column: 2 / span 3;
  }

  @media (min-width: 768px) {
    .container {
      display: grid;
      gap: 3rem;
      grid-template-columns: 3fr 1fr;
    }
  }

  &--icon {
    fill: var(--white);
  }

  &--ctas {
    grid-column: 5 / span 2;
    padding-left: 2rem;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    a:link,
    a:visited {
      display: flex;
      gap: 1rem;
      justify-content: flex-start;
    }
  }

  &--icon {
    width: 2rem;
  }

  &--justifier {
    display: inline-block;
    height: 1px;
    width: 100%;
  }
}
