._markdown {
  grid-column: 1 / span 7;

  &--header {
    align-items: center;
    background: var(--blue);
    color: var(--white);
    display: flex;
    height: 297px;

    h1 {
      margin-top: 0;
    }
  }

  .container {
    width: 100%;
  }

  .header-anchor {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &--body {
    grid-column: 2 / span 5;
    margin-top: 5rem;
  }
}
