._markdown {
  display: grid;
  grid-column: 1 / span 7;
  grid-template-columns: repeat(7, 1fr);

  &--header {
    align-items: center;
    background: var(--blue);
    color: var(--white);
    display: grid;
    grid-column: 1 / span 7;
    grid-template-columns: inherit;
    height: 297px;

    h1 {
      grid-column: 2 / span 5;
      margin-top: 0;
    }
  }

  .header-anchor {
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &--body {
    grid-column: 2 / span 5;
    margin-top: 5rem;
  }
}
