._session {
  display: grid;
  grid-row-gap: 2rem;
  margin: auto;
  max-width: calc(100vw - 15rem);

  .sessions--start {
    margin: 1rem 0 0.5rem;
  }

  &--info {
    h1 {
      @media (max-width: 614px) {
        font-size: 3rem;
        hyphens: auto;
      }
    }
  }

  &--speakers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--name {
    margin-top: 0;
  }

  &--tag,
  &--bio {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  &--tag {
    font-style: italic;
  }

  &--speaker-links {
    margin-top: 0.5rem;
  }

  &--picture {
    border: 5px solid var(--stripe-1-1);
    border-radius: 50%;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    max-width: 150px;
  }
}
