._session {
  display: grid;
  grid-column: 2 / span 5;
  grid-row-gap: 5rem;

  .sessions--start {
    margin: 1rem 0 0.5rem;
  }

  &--info {
    h1 {
      @media (max-width: 614px) {
        font-size: 3rem;
        hyphens: auto;
      }
    }
  }

  &--speakers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &--speaker {
    display: grid;
    gap: 2rem;
    grid-template-columns: auto 1fr;
  }

  &--name {
    margin-top: 0;
  }

  &--tag,
  &--bio {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  &--tag {
    font-style: italic;
  }

  &--speaker-links {
    margin-top: 0.5rem;
  }

  &--picture {
    border: 5px solid var(--stripe-1-1);
    border-radius: 50%;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    max-width: 150px;
  }
}
