---
layout: wrapper.njk
---

<div class="_home _home--promo-block">
  <div class="_home--text">
    <h1>Join us at the PWA Summit</h1>
    <p>
      A free, online, single-track conference focused on helping everyone succeed with Progressive
      Web Apps.
    </p>
  </div>
  <nav class="_home--ctas">
    <ul>
      <li>
        <a href="/register" class="_home--register">
          {{ "/src/public/images/ticket.svg" | svgContents | safe }} Register for free
        </a>
      </li>
      <li>
        <a href="/pwa-summit.ics" class="_home--save">
          {{ "/src/public/images/save.svg" | svgContents | safe }} Add to calendar
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container container--schedule">
  <div class="livestream">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube-nocookie.com/embed/Uqbkvl3o6Xs?controls=0"
      title="YouTube video player"
      frameborder="0"
      allow="autoplay; encrypted-media; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  {% include "schedule.njk" %}
</div>
