---
layout: wrapper.njk
---

<div class="_home">
  <div class="_home--text">
    <h1 class="_home--title" aria-label="PWA Summit">{{ 'PWA Summit' | spanner | safe }}</h1>

    <p class="_home--where">
      A free, online, single-track conference focused on helping everyone succeed with Progressive
      Web Apps.
    </p>
  </div>

  <div class="_home--ctas">
    <a href="/pwa-summit.ics" class="_home--save">
      <p>Add to calendar</p>
      <svg
        class="_home--icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        aria-hidden="true"
      >
        <path
          d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20a2 2 0 002 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2zm-7 5h5v5h-5z"
        />
      </svg>
    </a>

    <a href="/register" class="_home--cfp">
      <p>Register for free</p>
      <svg
        class="_home--icon"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          d="M22 10V6a2 2 0 00-2-2H4c-1.1 0-1.99.89-1.99 2v4c1.1 0 1.99.9 1.99 2s-.89 2-2 2v4c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2v-4c-1.1 0-2-.9-2-2s.9-2 2-2zm-2-1.46c-1.19.69-2 1.99-2 3.46s.81 2.77 2 3.46V18H4v-2.54c1.19-.69 2-1.99 2-3.46 0-1.48-.8-2.77-1.99-3.46L4 6h16v2.54zM11 15h2v2h-2zm0-4h2v2h-2zm0-4h2v2h-2z"
        />
      </svg>
    </a>
  </div>

  <div class="_home--rect _home--rect__1"></div>
  <div class="_home--rect _home--rect__4"></div>
  <div class="_home--rect _home--rect__5"></div>
  <div class="_home--rect _home--rect__6"></div>
  <div class="_home--rect _home--rect__7"></div>
  <div class="_home--rect _home--rect__8"></div>
</div>

<table class="schedule">
  <caption colspan="3" class="schedule--caption">
    <div class="schedule--caption-wrapper">
      <span class="schedule--title type--h1">Schedule</span>
      <select
        class="schedule--timezone"
        name="timezone"
        id="timezone"
        aria-label="Choose a timezone"
      >
        <option value="local">Local</option>
        <option value="GMT">GMT</option>
        <option value="America/New_York">New York</option>
        <option value="America/Los_Angeles">Los Angeles</option>
      </select>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Time</th>
      <th>Session</th>
      <th>Speakers</th>
    </tr>
  </thead>
  <tbody>
    {% for day in sessionize.schedule %}
    <tr>
      <td class="schedule--day" colspan="3">
        {% date day.date, {month: 'long', day: 'numeric', year: 'numeric', weekday: 'long'} %}
      </td>
    </tr>
    {% for session in day.rooms[0].sessions %} {% set even = false %} {% if loop.index % 2 == 0 %}
    {% set even = true %} {% endif %}
    <tr data-even="{{even}}" data-starts="{{session.startsAt}}" data-ends="{{session.endsAt}}">
      <td class="schedule--time">
        {% time session.startsAt, {hour: "numeric", minute: 'numeric'} %}
      </td>
      {% if session.isServiceSession == false %}
      <td>
        <a class="schedule--link" href="/sessions/{{session.title | slugify }}"
          >{{session.title}}</a
        >
      </td>
      {% else %}
      <td>{{session.title}}</td>
      {% endif %}
      <td>
        <ul class="schedule--speakers">
          {% for speaker in session | speakers(sessionize.speakers) %}
          <li class="schedule--speaker">
            <img
              class="schedule--picture"
              src="{{speaker.profilePicture}}"
              alt="{{speaker.fullName}}"
            />
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %} {% endfor %}
  </tbody>
</table>

<script>
  (function (window, document) {
    var $sessions = [].slice.call(document.querySelectorAll('tr[data-starts][data-ends]'));
    // update the schedule
    function updateSchedule() {
      var now = Date.now(); // test with 1633636800500
      $sessions.forEach(function ($session) {
        var start = Date.parse($session.dataset.starts),
          end = Date.parse($session.dataset.ends);
        console.log(now, start, end);
        if (now >= start && now <= end) {
          $session.setAttribute('aria-current', 'time');
        } else {
          $session.removeAttribute('aria-current');
        }
      });
    }
    // Init
    updateSchedule();
    // Run every 5 minutes on the 5 minute mark
    function everyFive() {
      var date = new Date();
      if (date.getMinutes() % 5 == 0) {
        updateSchedule();
      }
    }
    setInterval(everyFive, 60000);
  })(this, this.document);
</script>
