---
title: Register for PWA Summit 2022
layout: wrapper.njk
eleventyNavigation:
  key: Register
  parent: Main
  order: -1
---

<div class="container">
  <h1 class="type--h1">Register for PWA Summit 2022</h1>

  <!-- place this in your head tag -->
  <script src="https://js.tito.io/v1" defer></script>

  <!-- Place this where you want the widget to appear -->
  <tito-widget event="pwasummit/2022"></tito-widget>

  <noscript><a href="https://ti.to/pwasummit/2022">Register for the summit!</a></noscript>
</div>