---
title: Register for PWA Summit 2021
layout: wrapper.njk
---

<meta http-equiv="refresh" content="0; URL=/" />

<h1>
  Registration is currently closed. Please go to our <a href="/">homepage</a> to watch the
  conference!
</h1>
