---
title: Register for PWA Summit 2022
layout: markdown.njk
eleventyNavigation:
  key: Register
  parent: Main
  order: -1
---

<!-- place this in your head tag -->
<script src="https://js.tito.io/v2" defer></script>

<!-- Place this where you want the widget to appear -->
<tito-widget event="pwasummit/2022"></tito-widget>

<noscript><a href="https://ti.to/pwasummit/2022">Register for the summit!</a></noscript>
