---
layout: wrapper.njk
pagination:
  data: sessionize.sessions
  size: 1
  alias: session
permalink: sessions/{{ (session.title + session.speakers[0].name) | slugify }}/index.html
eleventyComputed:
  ogimage: https://pwasummit.org/images/share/{{ session.id }}.jpg
  title: '{{session.title}}'
  metadescription: '{{session.description}}'
---

{% from "speaker.njk" import links as speakerLinks %}

<div class="_session">
  <div class="_session--info">
    <h1 class="type--h1">{{session.title}}</h1>
    <p class="sessions--start">
      {% date session.startsAt, {month: 'long', day: 'numeric', year: 'numeric'} %}, {% time
      session.startsAt, {hour: "numeric", minute: 'numeric'} %} - {% time session.endsAt, {hour:
      "numeric", minute: 'numeric'} %} ({% timezone %})
    </p>
    <div>{{session.description | md | safe }}</div>
  </div>

  <ul class="_session--speakers">
    {% for speaker in session | speakers(sessionize.speakers) %}
    <li class="_session--speaker">
      <img class="_session--picture" src="{{speaker.profilePicture}}" alt="" />
      <div>
        <p class="_session--name type--h4">{{speaker.fullName}}</p>
        <p class="_session--tag">{{speaker.tagLine}}</p>
        <div class="_session--speaker-links">{{ speakerLinks(speaker) }}</div>

        {% if speaker.tagLine != speaker.bio %}
        <div class="_session--bio type">{{speaker.bio | md | safe }}</div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
